html {
  height: 100%;
  width: 100%;
  background-color: black;
  user-select: none;
  font-family: Verdana, sans-serif;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
}

main {
/*   display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

button {
  cursor:  pointer;
}

#game {
/*   display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center; */
}

#game canvas {
  background-color: black;
  z-index: 2;
  image-rendering: pixelated;
}

#login {
  margin-top: 200px;
  margin-left: 40%;
}

#ui {
  position: absolute;
  top: 0;
}

.login {
  display: flex;
  align-items: center;
}

.row:last-child {
  margin-bottom: 0px !important;
}

.cell:last-child {
  margin-right:  0px ;
}