.footer {
  height: 48px;
  width:  100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  z-index: 2;
  background-color: darkgray;
}

.footer button {
  height: 48px;
  border: none;
}

.footer-left {
  flex-basis: 0;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

.footer-right {
  flex-basis: 0;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.action-bar {
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  display: flex;
}

.action:first-child {
  margin-left: 5px;
}

.action {
  width: 30px;
  height: 30px;
  background-color: white;
  margin-right: 5px;
}

.action:hover {
  opacity: .5;
}