.chat {
  display: flex;
  flex-direction: column;
  height: 150px;
  width:  100%;
  max-width: 280px;
  background-color: white;
}

.chat-input {
  display: flex;
  justify-content: flex-end;
}

.chat-input input {
  width:  100%;
}

.chat-messages {
  overflow-wrap: break-word;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.chat-message {
}