.item {
  display: flex;
  flex-grow: 1;
}

.item-sword {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(http://localhost:8181/client/assets/images/heart.png);
}

.item-armor {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(http://localhost:8181/client/assets/images/heart.png);
}